*, *::before,
      *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      hr {
        opacity: .8;
        margin: 4%;
      }

      html {
        font-size: 10px;
        width: 100vw;
        height: 100%;
        overflow: hidden;
      }

      .parent-modal {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, .3);
        display: flex;
        flex-direction: column;
      }

      .modal {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 30%;
        padding: 2rem;
        background-color: white;
        border: 3px solid black;
        border-radius: 15px;
      }

      .flex-parent {
        display: flex;
        flex-direction: row;
      }

      .access-control {
        height: 30vh;
      }

      .access-control__header {
        height: 88%;
        display: flex;
        justify-content: space-between;
      }

      .access-control__photo {
        width: 180px;
        height: 100%;
        flex-shrink: 0;
      }

      .access-control__photo img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .access-control__info {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px 0 0 0;
      }

      .access-control__title {
        color: white;
        text-align: center;
        border-bottom: 1px solid yellow;
      }

      .access-control__text {
        margin: 5px 0 25px;
      }

      .access-control__button {
        margin-top: auto;
        margin-left: auto;
        cursor: pointer;
        color: white;
        background-color: green;
      }

      .output-message {
        height: 65vh;
        padding: 2rem;
        overflow-y: scroll;
        border: 1px solid yellow;
      }

      .status-bar {
        height: 5vh;
        border: 1px solid yellow;
        padding: 1rem 1rem 0 1rem;
        background-color: black;
      }

      .status-bar button {
        background:none!important;
        color:inherit;
        border:none; 
        padding:0!important;
        font: inherit;
        border-bottom:1px solid yellow; 
        color: yellow;
        cursor: pointer;
        margin-right: 1%;
        font-family: Arial, Helvetica, sans-serif;
      }
